@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,500,700');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@font-face {
    font-family: magn;
    src: url(../fonts/MAGNETOB.TTF);
}

html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	font: 100 100%  Roboto;
}

/*
*
*	NAV
*
*/

#navbar{
	width: 100%;
	height: 60px;
	background-color: grey;
	overflow: hidden;
}

nav{
	overflow: hidden;
}

ul{
	display: flex;
	list-style-type: none;
	flex-flow: row nowrap;
	justify-content: flex-end;
}

#tituloInfo{
	margin-right: 150px;
}

li{
	width: 150px;
	color: white;
	margin-right: 50px;
	font-family: Roboto;
	font-size: 1.0625em;
}

a{
	text-decoration:none;
	color: white;
	font-family: Julius Sans One;
	font-size: 1.0625em;/*17 / 16*/
}

label {
    display: none;
    float: right;
    color: black;
}

#toggle {
    display: none;
}



/*
*
*	CONTENIDO
*
*/

#informacionUsuarios{
	min-height: 75%;
}

/*
*
*	FOOTER
*
*/

footer{
	background-color: grey;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

footer nav ul{
	all: unset;
	text-align: center;
	list-style-type: none;
}

footer nav li{
	margin-top: 5px;
}

#info{
	line-height: 0px;
	margin-left: 20px;
	color: white;
	font-weight: 100;
	font-family: Roboto;
	font-size: 1.0625em;/*17 / 16*/
}


#parrafoFooter{
	margin-bottom: 30px;
}

#logos div{
	display: flex;
	justify-content: flex-end;
	flex-grow: column;
	flex-wrap: nowrap;
	margin-right: 20px;
	color: white;
	font-weight: 700;
	font-family: Roboto;
	font-size: 1.0625em;/*17 / 16*/
}

.logo{
	height: 30px;
	object-fit: cover;
	object-position: 75% center;
	margin-right: 10px;
}

.logoGrande{
	height: 40px;
	margin-left: 20px;
	object-fit: cover;
	object-position: center center;	
}

.textoLogo{
	margin-top: 15px;
	display: flex;
	flex-grow: column;
	flex-wrap: nowrap;
	align-items: center;
	margin-left: 20px;
}

.textoLogo a{
	font-size: 1.0625em;/*17 / 16*/
	margin-left: 10px;
	font-family: Roboto;
	font-weight: 700;
}

span{
	font-weight: 700;
}

.Hoover:hover {
    text-decoration: underline white;
}

.Hoover2:hover {
    text-decoration: underline white;
    transition-duration: 0.2s;
	background-color: black;
}

@keyframes lemagic{
    0%{
        transform: rotate(0deg);
    }
    25%{
    	transform: rotate(30deg);   
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.animatedLogo:hover{
    animation-name: lemagic;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.animatedDiv:hover img {
    animation-name: lemagic;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}